.bg-green{
    background-color: #04aa6d !important;
}
.navbar{
    padding:0px 0px !important;

}
.navbar-nav .nav-link{
    color:#fff !important;
    font-weight: 600 !important;
    border-right:1px solid !important;
    padding:8px 18px !important;
}
.category-heading{
    padding:10px 12px;
    border-left:6px solid #000;
    background-color: #ddd;
}
.post-heading{
    font-size:26px;
    color:#000;
}